CLIENT/Dsprojectwithfx/src/META-INF/wsdl/10.4.40.227_8080/RPC/RPC.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SERVER/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SERVER/" name="RPC">
<types>
<xsd:schema>
<xsd:import namespace="http://SERVER/" schemaLocation="http://10.4.40.227:8080/RPC/RPC?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="death">
<part name="parameters" element="tns:death"/>
</message>
<message name="deathResponse">
<part name="parameters" element="tns:deathResponse"/>
</message>
<message name="birth">
<part name="parameters" element="tns:birth"/>
</message>
<message name="birthResponse">
<part name="parameters" element="tns:birthResponse"/>
</message>
<message name="marriage">
<part name="parameters" element="tns:marriage"/>
</message>
<message name="marriageResponse">
<part name="parameters" element="tns:marriageResponse"/>
</message>
<message name="adoption">
<part name="parameters" element="tns:adoption"/>
</message>
<message name="adoptionResponse">
<part name="parameters" element="tns:adoptionResponse"/>
</message>
<message name="divorce">
<part name="parameters" element="tns:divorce"/>
</message>
<message name="divorceResponse">
<part name="parameters" element="tns:divorceResponse"/>
</message>
<portType name="RPC">
<operation name="login">
<input wsam:Action="http://SERVER/RPC/loginRequest" message="tns:login"/>
<output wsam:Action="http://SERVER/RPC/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="death">
<input wsam:Action="http://SERVER/RPC/deathRequest" message="tns:death"/>
<output wsam:Action="http://SERVER/RPC/deathResponse" message="tns:deathResponse"/>
</operation>
<operation name="birth">
<input wsam:Action="http://SERVER/RPC/birthRequest" message="tns:birth"/>
<output wsam:Action="http://SERVER/RPC/birthResponse" message="tns:birthResponse"/>
</operation>
<operation name="marriage">
<input wsam:Action="http://SERVER/RPC/marriageRequest" message="tns:marriage"/>
<output wsam:Action="http://SERVER/RPC/marriageResponse" message="tns:marriageResponse"/>
</operation>
<operation name="adoption">
<input wsam:Action="http://SERVER/RPC/adoptionRequest" message="tns:adoption"/>
<output wsam:Action="http://SERVER/RPC/adoptionResponse" message="tns:adoptionResponse"/>
</operation>
<operation name="divorce">
<input wsam:Action="http://SERVER/RPC/divorceRequest" message="tns:divorce"/>
<output wsam:Action="http://SERVER/RPC/divorceResponse" message="tns:divorceResponse"/>
</operation>
</portType>
<binding name="RPCPortBinding" type="tns:RPC">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="death">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="birth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="marriage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adoption">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divorce">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RPC">
<port name="RPCPort" binding="tns:RPCPortBinding">
<soap:address location="http://10.4.40.227:8080/RPC/RPC"/>
</port>
</service>
</definitions>